.table th {
    border-top: none;
    font-weight: 600;
}

.btn-group .btn {
    margin: 0 2px;
}

.badge {
    font-size: 0.875em;
}

.display-4 {
    font-size: 3rem;
    opacity: 0.3;
}

.modal-body .alert {
    margin-bottom: 0;
}

.form-text {
    font-size: 0.875em;
}
