$header-height-global: 80px; // Adjust as needed

$sidebar-width-global: 250px; // Default sidebar width
$sidebar-collapsed-width-global: 60px; // Width when collapsed

$sidebar-width-mobile-global: 200px; // Default sidebar width for mobile
$sidebar-collapsed-width-mobile-global: 40px; // Width when collapsed for mobile
