.header {
    height: 60px;
    width: 100%;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;

    .main {
        flex: 1;
        padding-top: 60px;
        background-color: #f3ecdc;
    }

    .footer {
        height: 200px;
        max-height: 200px;
        width: 100%;
        background: #344e41;
        overflow: hidden;
    }
}
